html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(-90deg, #99CCFF, #99FFFF, #99CCFF);
}

.parallax {
  min-height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 10%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.parallax p {
  font-size: 2em;
}
